- if form.object.new_record?
  = form.select "line_item_type", Piggybak.config.line_item_types.select { |k, v| v[:visible] }.keys, {}, :onchange => "toggle_line_item($(this));"
- else
  = form.hidden_field "line_item_type"
  = form.object.line_item_type

%script
  var line_item_types=#{raw Piggybak.config.line_item_types.to_json};
  console.log(line_item_types);
  var toggle_line_item = function(el) {
  el.parent().parent().siblings('div').hide();
  $.each(line_item_types[el.val()].fields, function(a, b) {
  el.parent().parent().siblings('.' + b + '_field').show();
  });
  };
  $.each($('.line_item_type_field select,.line_item_type_field input'), function(i, el) {
  toggle_line_item($(el));
  });
