= form.select "reference_type", [["shipment", "::Piggybak::Shipment"], ["payment", "::Piggybak::Payment"], ["adjustment", "::Piggybak::Adjustment"]], {}, :onchange => "$(this).parent().parent().siblings('.has_one_association_type').hide();$(this).parent().parent().siblings('.' + $(this).val().replace('::Piggybak::', '').toLowerCase() + '_field').show();"

%script
  $.each($('.line_item_type_field select'), function(i, el) {
  $(el).parent().parent().siblings('.has_one_association_type').hide();$(el).parent().parent().siblings('.' + $(el).val().replace('::Piggybak::', '').toLowerCase() + '_field').show();
  });
