- if form.object.new_record?
  = form.select "line_item_type", Piggybak.config.line_item_types.select { |b| b != 'tax' }, {}, :onchange => "blah($(this));"
- else
  = form.hidden_field "line_item_type"
  = form.object.line_item_type

%script
  var blah = function(el) {
  el.parent().parent().siblings('div').hide();
  //TODO: Move following lines to CSS?
  //el.parent().parent().siblings('div').find('> .control-label').hide();
  //el.parent().parent().siblings('div').find('.toggler').parent().hide();
  if(!el.parent().parent().siblings('.' + el.val() + '_field').hasClass('has_one_association_type')) {
  if(el.val() == 'sellable') {
  el.parent().parent().siblings('.quantity_field').show();
  } else {
  el.parent().parent().siblings('.price_field, .quantity_field, .description_field').show();
  }
  }
  el.parent().parent().siblings('.' + el.val() + '_field').show();
  };
  $.each($('.line_item_type_field select,.line_item_type_field input'), function(i, el) {
  blah($(el));
  });
